<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">
    <img src="/assets/logo-comunidades-azul-sm.png" alt="Logo Comunidades">
    <span class="text-primary font-weight-bold ml-2 d-none d-sm-inline">Comunidades</span>
  </a>

  <button class="navbar-toggler" type="button" aria-controls="collapse-menu"
    aria-label="Toggle navigation" (click)="isMenuCollapsed = !isMenuCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse show" [ngbCollapse]= "isMenuCollapsed">
    <ul class="navbar-nav flex-fill me-auto mb-2 mb-lg-0" >
      <li class="nav-item" *ngFor="let navItem of navList">
        <a class="nav-link" routerLinkActive="active" routerLink={{navItem}}>{{navItem | titlecase}}</a>
      </li>
    </ul>

    <ul class="navbar-nav me-auto mb-0" >
      <li ngbDropdown class="nav-item dropdown" display="dynamic">
        <button ngbDropdownToggle class="dropdown-toggle btn btn-outline-primary" id="userDropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          {{userName()}}
        </button>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="userDropDown">
          <div *ngIf="isAutenticated(); then logedBlock else unLogedBlock"></div>
          <ng-template #logedBlock>
            <a ngbDropdownItem [routerLink]="['/useraccount/',  userId()]">My Account</a>
            <a ngbDropdownItem [routerLink]="['']" (click)="logOut()">Log Out</a>
          </ng-template>
          <ng-template #unLogedBlock>
            <a ngbDropdownItem routerLink="/login">LogIn</a>
            <a ngbDropdownItem routerLink="/signup">SignUp</a>
          </ng-template>
        </div>
      </li>
    </ul>
  </div>

</nav>
