<div id="login-background" class="bg-full m-0"></div>
<div class="container-fluid">
    <section class="row">
        <article class="col vertical-middle side">
            <img src="../../../assets/comunity.png" alt="" srcset="">
        </article>
        <article class="col vertical-middle p-4">
            <div class="login-container">
                <h2 class="text-uppercase text-center display-4 mb-3">Bienvenido</h2>
                <p class="wellcome text-uppercase text-center   ">Introduce tu usuario y contraseña para acceder</p>
                <div class="separator mx-auto my-4"></div>
                <div class="form-container">
                    <form>
                        <div class="icon-input mb-2">
                            <input type="text" name="user" class="form-control form-control-lg" id="user" placeholder="Usuario o email">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="icon-input mb-2">
                            <input type="password" name="password" class="form-control form-control-lg" id="password" placeholder="contraseña">
                            <i class="fa fa-lock"></i>
                        </div>
                        <button class="btn btn-primary text-uppercase mb-2 mx-auto" type="submit">Login</button>
                    </form>
                    <p class="help-text text-secondary text-center">¿Aún no tienes usuario? <a routerLink="/register">¡registrate aquí!</a></p>
                </div>
            </div>
        </article>
    </section>
</div>
