<div id="login-background" class="bg-full m-0"></div>
<div class="container-fluid">
    <section class="row minh-100 align-items-center  justify-content-center">
        <article class="col side text-center">
            <img src="../../../assets/comunity.png" alt="" srcset="" class="align-self-center m-auto">
        </article>
        <article class="col vertical-middle p-4">
            <div class="login-container card  m-auto">
                <div class="card-header">
                    <h2 class="text-uppercase text-center display-5 mb-3">Bienvenido</h2>
                    <p class="wellcome text-uppercase text-center   ">Introduce tu usuario y contraseña para acceder</p>
                </div>
                <div class="form-container card-body text-center m-auto">
                    <form>
                        <div class="icon-input mb-2">
                            <input type="text" name="user" class="form-control form-control-lg" id="user" placeholder="Usuario o email">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="icon-input mb-2">
                            <input type="password" name="password" class="form-control form-control-lg" id="password" placeholder="Contraseña">
                            <i class="fa fa-lock"></i>
                        </div>
                        <button class="btn btn-primary text-uppercase mb-2 mx-auto" type="submit">Login</button>
                    </form>
                    
                </div>
                <div class="card-footer"><p class="help-text text-secondary text-center">¿Aún no tienes usuario? <a routerLink="/register" class="card-link">¡registrate aquí!</a></p></div>
            </div>
        </article>
    </section>
</div>
