<div id="login-background"></div>
<div class="container-fluid">
    <section class="row">
        <article class="col vertical-middle side">
            <img src="../../../assets/comunity.png" alt="" srcset="">
        </article>
        <article class="col vertical-middle">
            <div class="login-container">
                <h2>Bienvenido</h2>
                <p class="wellcome">Introduce tu usuario y contraseña para acceder</p>
                <div class="separator"></div>
                <div class="form-container">
                    <form action="login" method="post">
                        <div class="icon-input">
                            <input type="text" name="user" class="form-control" id="user" placeholder="Usuario o email">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="icon-input">
                            <input type="password" name="password" class="form-control" id="password" placeholder="contraseña">
                            <i class="fa fa-lock"></i>
                        </div>
                        <button class="btn btn-primary" type="submit">Login</button>
                    </form>
                </div>
            </div>
        </article>
    </section>
</div>
